body{
  color: #898989;
  font-family: 'OpenSansRegular', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 22px;
  font-size: 12px;
}

/* flexbox classes */
.flex-it {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-wrap: nowrap;
  -webkit-box-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flexbox-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
}
.flex-row {
  -moz-box-direction: row;
  -webkit-box-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flexbox-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-align-between {
  -webkit-box-align-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-align-content: space-between;
  align-content: space-between;
}
.flex-align-center {
  -webkit-box-align-content: center;
  -webkit-align-content: center;
  -ms-flex-align-content: center;
  align-content: center;
}
.flex-align-start {
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}
.flex-align-item-start {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.flex-align-item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-start-all {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}
.flex-align-item-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.flex-justify-center {
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: center;
}
.flex-justify-start {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
}
.flex-justify-end {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-end;
}
.flex-wrap {
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item-auto {
  -webkit-box-basis: auto;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1;
}
/* end flexbox classes */

.landing-content {
  box-sizing: border-box;
}
.landing-content *, .landing-content *:before, .landing-content *:after {
  box-sizing: inherit;
}

.intro-text {
  border-bottom: 1px solid #e3e3e3;
  float: left;
  margin: 50px 0;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}
.intro-text.no-margin {
  margin: 0 0 50px;
}
.intro-text h4 {
  color: #373737;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.intro-text h5 {
  color: #878787;
  font-size: 16px;
  line-height: 22px;
}

.partsFinder a.cam_btn, .manual a.cam_btn{
  text-align:center;
  width:100%;
  max-width: 255px;
}
.partsFinder a.cam_btn > *, .manual a.cam_btn > * {
  color: #ed1b30 !important;
}
#chart{
  position: relative;
  top:20px;
}
#chart .flex-item-auto {
  margin-top: 10px;
  padding: 5px;
}
.text-price, .text-price-grey{text-align: center;}
.best-plan {
  z-index: 111;
  background: #f9f9f9;
  margin: 0;
  position:relative;
  top:-20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}
.best-plan:hover {
    background: #FFF;
    cursor: pointer;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
    top: -25px;
}
#footer{
  margin-top:0;
  margin-bottom:0;
}
section {
  padding: 10px;
}
img{max-width:100%;height:auto;}
.landing-content{
  background:#f5f5f5;
}
.page-content{

}
.intro-text{
  margin:0 !important;
  padding-bottom:0 !important;
}
.intro-text h4 {
  font-size: 24px;
  font-family: "OpenSansRegular", Arial, Verdana;
  color: #373737;
  text-transform: uppercase;
  line-height: 32px;
}
.intro-text h5 {
  font-size: 16px;
  line-height: 22px;
  color: #878787;
}
.featVideo{
  margin: 20px auto !important;
}
.safeTech{
  margin:0px;
}
.safeTech > div {
  flex: 1 1 50%;
}
.features > div > div,
.safeTech > div {
  min-width: 300px;
}
.modes > div:nth-last-child(n+2), .modes > div:nth-last-child(n+2) ~ div {
  flex: 1 1 50%;
  min-width: 360px;
}
.modes > div:nth-last-child(n+3), .modes > div:nth-last-child(n+3) ~ div {
  flex: 1 1 33%;
  min-width: 300px;
}
.modes > div:nth-last-child(n+4), .modes > div:nth-last-child(n+4) ~ div {
  flex: 1 1 25%;
  min-width: 235px;
}

.overview .flex-item-auto {
  padding: 10px;
}
.features .flex-it > .flex-item-auto {
  padding: 10px;
}
.features .flex-item-auto img{border: solid 1px;}
#chart .flex-item {
  flex-basis: 33.3333%;
}
.pricing-box-container {
  text-align: center;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

/* tweener IE10 */
.no-flexbox.flexboxtweener #Content {
  padding-top: 88px;
}
.no-flexbox.flexboxtweener .flex-it {
  max-width: 960px;
}
.no-flexbox.flexboxtweener .modes .flex-item-auto {
  max-width: 33.3333%;
  padding: 10px;
}
.no-flexbox.flexboxtweener .features .flex-item-auto {
  max-width: 50%;
}
.no-flexbox.flexboxtweener #chart .flex-item-auto {
  max-width: 33.3333%;
}
